/* styles.css */

a {
    color: black; /* Zachowanie koloru niebieskiego dla linków */
    text-decoration: none; /* Usunięcie podkreślenia dla linków */
}

body {
    font-family: 'Arial', sans-serif; /* Zmiana na bezszeryfową czcionkę, np. Arial */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-decoration: none; /* Usunięcie podkreślenia dla h1 */
}


.product-tile {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
    color: black; /* Kolor tekstu */
}

.product-tile img {
    max-width: 100%;
    height: auto;
}

/* Dodatkowe style dla innych elementów w razie potrzeby */
