<!-- views/error.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../styles.css"> <!-- Zaktualizowana ścieżka -->
</head>

<body>
    <%- include('navbar', { user_cookie: user_cookie, role:role, title: "Error 404" }) %>
    <div class="content-container">
        <% if(locals.url){ %>
            Strona <%= locals.url %> nie została znaleziona.
        <% } else { %>
            <%=locals.message%>
        <% } %>
    </div>
</body>


</html>