<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w sklepie lKEA</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <%- include('navbar', { user_cookie: user_cookie, role:role }) %>

    <br />

    <div id="welcome-container">
        <h1>Witaj w sklepie lKEA</h1>
        <h2>krzesła, na których nie siedziałeś</h2>

        <a href="/products">
            <div class="discover-tile">
                <img src="https://pics.craiyon.com/2023-10-28/4a03da66efe2403bbb1421214408946b.webp" alt="Discover Products" style="max-width: 100%; height: auto;">
                <p style="color: rgba(95, 23, 60, 1);">Odkryj nasze produkty</p>
            </div>
        </a>
    </div>
</body>

</html>
