<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"> <!-- Zaktualizowana ścieżka -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #login {
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #login div {
            margin-bottom: 15px;
        }

        #login input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: rgba(95, 23, 60, 1);
            color: rgba(191, 187, 220, 1);
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            font-family: 'Arial', sans-serif;
            font-size: 1em;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: rgba(95, 23, 60, 1);
            margin-left: 10px;
        }

        .message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://i.imgur.com/wMlNUW0.png" alt="Logo">
            </a>
        </div>
    </div>

    <div class="form-container">
        <form method="POST" id="login">
            <div>
                <label for="txtUser">Username:</label>
                <input type="text" name="txtUser" id="txtUser" required>
            </div>
            <div>
                <label for="txtPwd">Password:</label>
                <input type="password" name="txtPwd" id="txtPwd" required>
            </div>
            <div>
                <button type="submit">Login</button>
                <a href="/sign_up">Sign Up</a>
            </div>
            <% if (locals.message) { %>
                <div class='message'>
                    <%= locals.message %>
                </div>
            <% } %>
        </form>
    </div>
</body>

</html>
