<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        html,
        body,
        form {
            height: 100%;
            overflow: hidden;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #login {
            padding: 20px;
            border: 1px solid black;
        }

        #login div {
            overflow: auto;
        }

        #login input {
            float: right;
        }

        button {
            clear: both;
        }

        .message {
            color: red;
        }
    </style>
</head>

<body>
    <form method="POST">
        <div id='login'>
            <div>
                Login
            </div>
            <div>
                <input type='text' name='txtUser' />
                <label>Username:</label>
            </div>
            <div>
                <input type='password' name='txtPwd' />
                <label>Password:</label>
            </div>
            <div>
                <button type="submit">Login</button>
                <a href="sign_up">
                    <button type="button">Sign Up</button>
                </a>
            </div>
            <% if ( locals.message ) { %>
                <div class='message'>
                    <%= locals.message %>
                </div>
            <% } %>
        </div>
    </form>
</body>

</html>
