<!-- views/navbar.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w sklepie lKEA</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <!-- Pasek nawigacyjny -->
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://i.imgur.com/wMlNUW0.png" alt="Logo">
            </a>
        </div>
            <% if (!user_cookie) { %>
                <a href="/login">
                    <div class="login-button">
                        Log in
                    </div>
                </a>
            <% } else { %>
                <div style="position: absolute; left: 81%;border: 1px solid #ccc; padding: 10px; border-radius: 5px; background-color: #9a758a; font-weight: bold;">
                    <%= user_cookie %>
                </div>

                <a href="/cart" style="position: absolute; left: 88%;">
                    <img src="https://i.imgur.com/t5qeNCw.png" alt="Cart" height="60">
                </a>

                <a href="/logout">
                    <div class="login-button">
                        Log out
                    </div>
                </a>
            <% } %>
    </div>
</body>
</html>
