<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <%- include('navbar', { user_cookie: user_cookie, role:role }) %>
    <div class="content-container">
        <div class="form-container">
            <form method="POST" id="register">
                <div>
                    <label for="txtUser">Username:</label>
                    <input type="text" name="txtUser" id="txtUser" minlength="6" required pattern="[a-zA-Z0-9]*">
                </div>
                <div>
                    <label for="txtPwd">Password:</label>
                    <input type="password" name="txtPwd" id="txtPwd" minlength="8" required pattern="[a-zA-Z0-9!@#$%^&*:;,.]*">
                </div>
                <div>
                    <label for="txtAdr">Address:</label>
                    <input type="text" name="txtAdr" id="txtAdr" required>
                </div>
                <div>
                    <label for="txtEmail">Email:</label>
                    <input type="email" name="txtEmail" id="txtEmail" required>
                </div>
                <div>
                    <label for="txtName">Name:</label>
                    <input type="text" name="txtName" id="txtName" required pattern="[a-zA-Z]*">
                </div>
                <div>
                    <label for="txtDOB">Date of Birth:</label>
                    <input type="date" name="txtDOB" id="txtDOB" required>
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
                <% if (locals.message) { %>
                    <div class='message'>
                        <%= locals.message %>
                    </div>
                <% } %>
            </form>
        </div>
    </div>
</body>

</html>
