body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
 

}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add margin for spacing */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.product-tile img {
    max-width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(191, 187, 220, 1);
    color: #333;
    padding: 10px;
    z-index: 1000;
}

.logo img {
    width: 100px;
    height: auto;
}

.login-button {
    background-color: rgba(95, 23, 60, 1);
    color: rgba(191, 187, 220, 1);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin-right: 30px;
}

#login {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login div {
    margin-bottom: 15px;
}

#login input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.navbar-title {
    font-size: 2em;
    margin: 0 auto;
}

.content-container {
    margin-top: 100px;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#register {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register div {
    margin-bottom: 15px;
}

#register input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.product-tile {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
}

.submit-button {
    box-sizing: border-box;
    background-color: rgba(95, 23, 60, 1);
    color: rgb(240, 240, 245);
    padding: 10px 180px;
    text-align: center; /* Center-align text */
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    max-width: 190px;
    margin: 0 auto;
    white-space: nowrap;
}

a {
    color: black;
    text-decoration: none;
}

.message {
    color: red;
    margin-top: 10px;
}

/* Additional styles (if any) */

#welcome-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

/* Sort and Filter Bar (if any) */
.filter-bar {
    position: fixed;
    top: 60px;
    left: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 999;
}

.filter-container {
    margin-top: 60px;
    padding: 20px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    height: calc(100% - 60px);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.color-name {
    display: block;
    margin-left: 5px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
}

.product-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Wyśrodkuj elementy w osi X */
    padding: 20px;
    border: 3px solid #7c1966;
    margin-top: 30px;
    margin-left: 33vw;
    /* Zmniejsz odstęp z lewej strony */
    margin-right: 33vw;
    /* Zmniejsz odstęp z prawej strony */
    margin-bottom: 20px;
    /* Dodaj margines na dole dla estetyki */

}

.product-tile {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
}




.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-button img {
    max-width: 30px;
    /* Ustaw maksymalną szerokość na 20px */
    height: auto;
    /* Zachowaj proporcje */
}

/* styles.css */

.button {
    background-color: rgba(95, 23, 60, 1);
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-size: 16px;
    /* Font size */
}

.add-to-cart-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

button {
    background-color: rgba(95, 23, 60, 1);
    color: rgba(191, 187, 220, 1);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgba(191, 187, 220, 1);
    color: #fff;
    /* Kolor tekstu przycisku */
    border: 1px solid #5a0368;
    /* Grubość i kolor obramowania */
    border-radius: 5px;
    /* Zaokrąglenie rogów */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    /* Animacja zmiany koloru */
}

.courier-button {
    background-color: rgba(95, 23, 60, 1);
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-size: 16px;
    /* Font size */
}

.in-store-button {
    background-color: rgba(95, 23, 60, 1);
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-size: 16px;
    /* Font size */
}

.in-store-button.active {
    background-color: rgba(191, 187, 220, 1);
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-size: 16px;
    /* Font size */
}

.courier-button.active {
    background-color: rgba(191, 187, 220, 1);
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-size: 16px;
    /* Font size */
}

.confirm-order-button {
    background-color: rgba(95, 23, 60, 1);
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-size: 16px;
    /* Font size */
}

p{
    margin:8px;
}